body {
    background-color: #1C1C1C;
}

.navbar {
    background-color: #f5b32f;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
}


#centertext {
    text-align: center;
    color:#1C1C1C;
}

.imageItem {
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    background-color: #f5b32f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
    
    
#centertext {
    text-align: center;
    color: #f5b32f;
    display: flex;
    justify-content: center;

}
   
.imgcenter {
    display: flex;
    justify-content: center;
}

.menuItem {
    display: flex;
    padding: 10px;
    width: 500px;
    flex-direction:column;
    color:bisque;
    align-items: center;
}

.imageItem {
    width: 500px;
}

.menuContainer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.navbutton {
    color:darkred;
}

#centertext2 {
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    color: #1C1C1C;
    display: flex;
    justify-content: center;

}

#centertext3 {
    font-size: 40px;
    text-align: center;
    color: #1C1C1C;
    display: flex;
    justify-content: center;
}

#centertext4 {
    font-size: 30px;
    text-align: center;
}





    


